target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
**/static/

### Mac OS ###
.DS_Store


############################
# NPM files
############################
**/node_modules
**/bower_components
node_modules
bower_components
npm-debug.log


############################
# Temp files
############################
temp
tmp
.tmp
*.swo
*.swp
*.swn
*.swm
*.diff
*.log
*.patch
*.bak
*.log
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*


############################
# Editor & OS files
############################
.idea
.DS_STORE
.Trashes
.project
.rebooted
.*proj
Thumbs.db
ehthumbs.db
nbproject
cool.config.json

############################
# Report files
############################
coverages
coverage
reports
report
lib-cov
html-report
nohup.out
out
logs
log


############################
# Other
############################
.node_history
.svn
**/tms
.nodejs-cache
.node-diamond-client-cache
node_hsf_config_snapshots
run


webpack-assets.json
chunk-manifest.json
dist
build
static/js
static/css
static/lib
!static/lib/library.js
!static/lib/library.css
debug.js
.happypack
app/frontend/pages/os/router.js
app/frontend/pages/mis/router.js
app/build-tmp.js
npm-debug.log.*
.vscode
.eslintrc.js
.history
